{% extends 'base.html' %}
{% block title %}
{{ super() }}
Categorias
{% endblock%}
{% block content %}
<div class="container">
    <div class="well text-center display-3 m-3">Categoria</div>
    {% if categorias != []: %}
    <div class="row">
        <div class="col-8">
            <strong class="display-6">Buscar Por: </strong><span class="display-6">{{ tag }}</span>
        </div>
        <div class="col-4">
            <form action="" method="post" autocomplete="off">
                <div class="row">
                    <div class="col-6">
                        <input type="text" class="form-control" name="tag" id="tag" placeholder="Nombre..." />
                    </div>
                    <div class="col-6" align="left">
                        <input type="submit" value="Search" class="form-control btn btn-primary " name="">
                    </div>
            </form>
        </div>
    </div>
    <div class="row">
        {% for categoria in categorias %}
        <div class="col-md-3">
            <div class="card imghover" style="width: 18rem; margin: 5px;">
                <img style="width: 100%; height:150px ;" class="card-img-top" src="{{categoria.pfsabcateimage}}"
                    alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title text-center">{{categoria.pfsabcatenombre}}</h5>
                    <p class="card-text">{{categoria.pfsabcatedetalle}}</p>
                    <a href="{{ url_for('crp.onGetClientControllerProductoList', idCat=categoria.pfsabcateid) }}" class="btn btn-primary">Ir...</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <div class="row">
        <h2 class="text-center" style="padding: 30px; font-size: 10vw ;">NO EXISTE CATEGORIAS</h2>
    </div>
    {% endif %}
</div>
{% endblock %}