<footer class="p-4">
    <div class="row">
        <div class="col-md-3">
            <h2>Misión</h2>
            <p>Mantener un canal de distribución entre productor y cliente que no encaresca el producto.</p>
            <h2>Visión</h2>
            <p>Ser una empresa que ofrece productos al mejor precio garantizado la satisfación de sus clientes.</p>
        </div>
        <div class="col-md-3">
            <h2>Quienes Somos</h2>
            <p>La experiencia de brindar servicios con responsabilidad, puntualidad, sinceridad y sobre todo beneficiar
                a nuestros clientes.</p>
        </div>
        <div class="col-md-3">
            <h2>Menu de Navegacion</h2>
            <ul>
                <li><a href="/"><span class="icon">Inicio</span></a></li>
                <li><a href="/clca"><span class="icon">Categoria</span></a></li>
                <li><a href="/rcpm"><span class="icon">Promociones </span></a></li>
                <li><a href="/qsomos"><span class="icon">Quienes Somos </span></a></li>
            </ul>
        </div>
        <div class="col-md-3">
            <h2>Contacto</h2>
            <p>Lunes a Viernes: 07:00 a 20:30</p>
            <p>Sabado y Domingo: 08:00 a 20:30</p>
            <p><span style="font-weight: bold ; font-size: 1vw;">cel:</span> </p>
            <p><span style="font-weight: bold ; font-size: 1vw;">Email:</span></p>
        </div>
    </div>
    <div class="row">
        <p><span style="font-weight: bold ; font-size: 1vw;">Programador: </span><span
                style="font-weight: bold ; font-size: 1vw;"></span>
            <span style="font-weight: bold ; font-size: 1vw;">Tnlgo. </span>Edgar Fabian Estrella G. <span
                style="font-weight: bold ; font-size: 1vw;">Cel: </span> 0983856136
            <span style="font-weight: bold ; font-size: 1vw;">Email. </span>star._faby@hotmail.com <span
                style="font-weight: bold ; font-size: 1vw;"></span>
        </p>
    </div>
</footer>