{% extends 'base.html' %}
{% block title %}
{{ super() }}
nucleo
{% endblock%}
{% block content %}
<div class="container">
    <section>
        <div class="row">
            <h2 style="font-size: 5vw;" class="text-center">Ventas</h2>
        </div>
    </section>
    <section>
        <div class="container" style="margin-bottom:100px">
            <div id="mCarousel" class="carousel slide">
                <ol class="carousel-indicators">
                    <li data-target="#mCarousel" data-slide-to="0"></li>
                    <li data-target="#mCarousel" data-slide-to="1" class="active"></li>
                    <li data-target="#mCarousel" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="item">
                        <img class="w-100 h-25"
                            src="https://res.cloudinary.com/dkxbndop7/image/upload/v1701794656/index/mviuno_zpqxab.jpg"
                            style="width:100%;height:100px;">
                    </div>
                    <div class="item active">
                        <img class="w-100 h-25"
                            src="https://res.cloudinary.com/dkxbndop7/image/upload/v1701794668/index/mvidos_twtzkr.jpg"
                            style="width:100%;height:100px;">
                    </div>
                    <div class="item">
                        <img class="w-100 h-25"
                            src="https://res.cloudinary.com/dkxbndop7/image/upload/v1701794687/index/mvitres_y4rq5h.jpg"
                            style="width:100%;height:100px;">
                    </div>
                </div>
                <a class="left carousel-control" href="#mCarousel" data-slide="prev">
                    <span class="fa fa-chevron-left fa-lg" style="margin-top:400px"></span>
                </a>
                <a class="right carousel-control" href="#mCarousel" data-slide="next">
                    <span class="fa fa-chevron-right fa-lg" style="margin-top:400px"></span>
                </a>
            </div>
        </div>
    </section>
    <section>
        <div class="row">
            <div class="col-md-12">
                <h2 class="display-1 text-center"><b>Empresa</b></h2>
            </div>
            <div class="col-md-6">
                <p class="display-6">Es una entidad u organización, cuyo objetivo es la consecución de un beneficio
                    a travez de una necesidad que se plantee en el mercado, concreta en el ofrecimiento de productos
                    (sector terciario) con la contraprestacion de un precio.
                </p>
                <p class="display-6">
                    las sociedades se dedica a la produccion y transformaciòn del producto y a la presentaciòn de servicios
                    para satisfacer las nesesidades y deseos existentes en la sociedad.
                </p>
                <div class="display-6">
                    La compania automatismos brito construye sus maquinarias automatizados desde el inicio del sistema 
                    hasta la terminaciòn del mismo
                </div>
            </div>
            <div class="col-md-6">
                <figure>
                    <img  class="w-100"
                        src="https://res.cloudinary.com/dkxbndop7/image/upload/v1701808733/index/empresabrito_qv2vsp.png"
                        alt="">
                    <caption></caption>
                </figure>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2 class="display-1 text-center"><b>Maquinas Vending</b></h2>
            </div>
            <div class="col-md-6">
                <p class="display-6">La expresion vending es un anglisismo que se refiere a la  venta automatizada 
                    de productos a travez de maquinas expendedoras.
                </p>
                <p class="display-6">
                    Para que la maquina expendedora funcione el usuario tendra que insertar monedas para poder adquirir el producto.
                </p>
                <div class="display-6">
                    Es una forma de venta donde el consumidor adquiere el producto deseado, accionando un artefacto desde que se provee 
                    la mercania de forma automatica.
                </div>
            </div>
            <div class="col-md-6">
                <figure>
                    <img class="w-75"
                        src="https://res.cloudinary.com/dkxbndop7/image/upload/v1701794668/index/mvidos_twtzkr.jpg"
                        alt="">
                    <caption></caption>
                </figure>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2 class="display-1 text-center"><b>Repuestos</b></h2>
            </div>
            <div class="col-md-6">
                <p class="display-6">
                    Es un objeto elaborado que sirve como extencion del cuerpo de quien lo use, para permitir o facilitar
                    una tarea mecànica que sin ella no se podria realizar por falta de movilidad.
                </p>
                <p class="display-6">
                    los repuestos que usa la maquina vending tienen diferentes tamaño y distinta funcionalidad para el uso del mismo.
                </p>
                <div class="display-6">
                    Los accesorios que usa la maquinas son: Resistencias, cubos Air Break, motorreductores, termostatos de calor, 
                    microinterructores, electrovalvulas, termostatos frios.
                </div>
            </div>
            <div class="col-md-6">
                <figure>
                    <img class="w-75"
                        src="https://res.cloudinary.com/dkxbndop7/image/upload/v1701809799/mvimotorreductores_vysngb.jpg"
                        alt="">
                    <caption></caption>
                </figure>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2 class="display-1 text-center"><b>Servicio Tècnico</b></h2>
            </div>
            <div class="col-md-6">
                <p class="display-6">
                    El servicio tecnico es brindado por las empresas para que sus clientes puedan hacer uso de sus productos o 
                    servicios de la manera en que fueran puestos a la venta
                </p>
                <p class="display-6">
                    El soporte tecnico brinda asistencia intelectual, tecnológica y material a un cliente. Su objetivo 
                    principal es prevenir y resolver problemas, ademas de optimizar y mejorar el rendimiento de los productos
                    y servicios.
                </p>
            </div>
            <div class="col-md-6">
                <figure>
                    <img class="w-75"
                        src="https://res.cloudinary.com/dvqgk49zn/image/upload/v1694351056/nucleo_hrzpo9.jpg"
                        alt="">
                    <caption></caption>
                </figure>
            </div>
        </div>
    </section>
</div>
{% endblock %}