<section class="starfn">
    <div>
        <div class="row">
            <div class="col-6">
                <h1>Menu</h1>
            </div>
            <div class="col-6">
                <button class="abg">
                    <div class="hamburger">
                        <hr>
                        <hr>
                        <hr>
                    </div>
                </button>
            </div>
        </div>
    </div>
    <nav class="navs">
        <ul>
            {% if current_user.is_authenticated %}
            {% if current_user.id == 'starfaby' %}
            {% if current_user.isadmin == True %}
            {% if current_user.email == 'star._faby@hotmail.com' %}
            <li class="submenu">
                <button class="btnsm">Admin</button>
                <ul class="abgm">
                    <li><a href="/arc">Admin Categoria <span class="icon"></span></a></li>
                    <li><a href="/">Admin Categoria Producto<span class="icon"></span></a></li>
                    <li><a href="/">Admin Users<span class="icon"></span></a></li>
                    <!--
                    <li><a href="/adpromo">Admin Promociones<span class="icon"></span></a></li>
                    <li><a href="/racnt">Admin Canasta<span class="icon"></span></a></li>
                    <li><a href="/ralcr">lucro<span class="icon"></span></a></li>
                    -->
                </ul>
            </li>
            {% endif %}
            {% endif %}
            {% endif %}
            {% endif %}
            <li><a href="/"><span class="icon">Inicio</span></a></li>
            <li><a href="/crc"><span class="icon">Categoria</span></a></li>
            <li><a href="/rcpm"><span class="icon">Promociones </span></a></li>
            <li><a href="/rcqs"><span class="icon">Quienes Somos</span></a></li>
            <li class="logger">
                <ul>
                    {% if current_user.is_authenticated %}
                    <li><span class="bienvenido">Bienvenido:</span></li>
                    <li><img class="imguser" src="{{current_user.avatar}}" alt="" style="width: 20px; height: 20px;"></li>
                    <li><button class="btnlogout"><a href="/rlgt">Logout</a></button></li>
                    {% else %}
                    <li class="w-100 p-3"><button class="btnloginin w-100"><a class="nav-link" href="/rlgn">Login-In</a></button></li>
                    {% endif %}
                </ul>
            </li>
        </ul>
    </nav>
</section>