{% extends 'base.html' %}
{% block title %}
{{ super() }}
Index
{% endblock%}
{% block content %}
<div class="container">
    <div class="well text-center display-3">Formulario de Categoria</div>
    <div class="row">
        <div class="col-md-4 p-4">
            <form action="/arcs" method="post">
                <div class="form-group">
                    <label for="txtNombre">Nombre</label>
                    <input type="text" class="form-control" id="txtNombre" name="txtNombre" aria-describedby="emailHelp"
                        placeholder="Nombre...">
                </div>
                <div class="form-group">
                    <label for="txtImage">Image</label>
                    <input type="text" class="form-control" id="txtImage" name="txtImage" placeholder="Image...">
                </div>
                <div class="form-group">
                    <label for="txtDetalle">Detalle</label>
                    <input type="text" class="form-control" id="txtDetalle" name="txtDetalle" placeholder="Detalle...">
                </div>
                <div class="form-group">
                    <label for="selectEstado">Estado</label>
                    <select class="form-control" id="selectEstado" name="selectEstado">
                        <option selected>Elija...</option>
                        <option value="1">Activo</option>
                        <option value="0">Inactivo</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary"><i class="fa-solid fa-floppy-disk"></i>Guardar</button>
            </form>
        </div>
        <div class="col-md-8 p-4">
            <div class="container">
                <div class="row">
                    <div class="col-8">
                        <strong>Buscar Por: {{ tag }}</strong>
                    </div>
                    <div class="col-4">
                        <form action="" method="post" autocomplete="off">
                            <div class="row">
                                <div class="col-6">
                                    <input type="text" class="form-control" name="tag" id="tag"
                                        placeholder="Nombre..." />
                                </div>
                                <div class="col-6" align="left">
                                    <input type="submit" value="Search" class="form-control btn btn-primary " name="">
                                </div>
                        </form>
                    </div>
                </div>
            </div>
            {% if categorias != []: %}
            <table class="table text-center">
                <thead>
                    <tr class="text-center">
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Image</th>
                        <th scope="col">Detalle</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Creacion</th>
                        <th scope="col" colspan="2">Accion</th>
                    </tr>
                </thead>
                <tbody>

                    {% for item in categorias.items %}
                    <tr>
                        <th scope="row">{{item.pfsabcateid}}</th>
                        <td>{{item.pfsabcatenombre}}</td>
                        <td><img style="width: 50px ; height: 50px ;" src="{{item.pfsabcateimage}}" alt=""></td>
                        <td>{{item.pfsabcatedetalle}}</td>
                        <td>{{item.pfsabcateestado}}</td>
                        <td>{{item.pfsabcatecreatedat}}</td>
                        <td>
                            <button>
                                <a
                                    href="{{ url_for('arc.onGetControllerAdminCategoriaUpdate', id=item.pfsabcateid) }}">Actualizar
                                </a>
                            </button>
                        </td>
                        <td>
                            <button>
                                <a
                                    href="{{ url_for('arc.onGetControllerAdminCategoriaDelete', id=item.pfsabcateid) }}">Eliminar
                                </a>
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    {% if categorias.has_prev %}
                    <li class="page-item"> <a class="page-link"
                            href="{{ url_for('racc.onGetAdminControllerCategoriaList', page=categorias.prev_num )}}">Previous</a>
                    </li>
                    {% else %}
                    <li class="page-item"> <a class="page link btn disabled" href="#">Previous</a></li>
                    {% endif %}
                    {% for page in categorias.iter_pages(left_edge=3, right_edge=3) %}
                    {% if page %}

                    {% if page==categorias.page %}
                    <li class="page-item active"><a class="page-link"
                            href="{{ url_for('arc.onGetAdminControllerCategoriaList', page=page) }}">{{ page }}</a></li>
                    {% else %}
                    <li class="page-item"><a class="page-link"
                            href="{{ url_for('arc.onGetAdminControllerCategoriaList', page=page) }}">{{ page }}</a></li>
                    {% endif %}

                    {% else %}
                    <li class="page-item disabled" id="example_ellipsis"><a href="#" class="page-link">…</a></li>
                    {% endif %}
                    {% endfor %}
                    {% if categorias.has_next %}
                    <li class="page-item"> <a class="page-link"
                            href="{{ url_for('arc.onGetAdminControllerCategoriaList', page=categorias.next_num )}}">Next</a>
                    </li>
                    {% else %}
                    <li class="page-item"> <a class="page link btn disabled" href="#">Previous</a></li>
                    {% endif %}

                </ul>
            </nav>
            {% else %}
            <section class="">
                <h2 class="text-center" style="padding: 10px; font-size: 5vw;">No existe datos</h2>
            </section>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}