{% extends 'baseerror.html' %}
{% block title %}
    {{ super() }}
    404
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Lo Sentimos..!</h1>
                <h2>Pagina no encontrada 404</h2>
                <hr>
                <p>{{ error }}</p>
            </div>
        </div>
        <div class="col-md-12 text-center">
            <button><a href="/" class="text-danger">Volver...</a></button>
        </div>
    </div>
{% endblock %}