{% extends 'base.html' %}
{% block title %}
{{ super() }}
Product update
{% endblock%}
{% block content %}
<section class="p-4">
    <div class="well text-center">Formulario Update de Categoria</div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="p-4 col-md-4">
            <form action="{{ url_for('arc.onGetControllerAdminCategoriaUpdate', id=categoria.pfsabcateid) }}"
                method="post">
                <div class="form-group">
                    <label for="txtNombre">Nombre</label>
                    <input type="text" class="form-control" id="txtNombre" name="txtNombre" aria-describedby="emailHelp"
                        placeholder="Nombre..." value="{{categoria.pfsabcatenombre}}">
                </div>
                <div class="form-group">
                    <label for="txtImage">Image</label>
                    <input type="text" class="form-control" id="txtImage" name="txtImage" placeholder="Image..."
                        value="{{categoria.pfsabcateimage}}">
                </div>
                <div class="form-group">
                    <label for="txtDetalle">Detalle</label>
                    <input type="text" class="form-control" id="txtDetalle" name="txtDetalle" placeholder="Detalle..."
                        value="{{categoria.pfsabcatedetalle}}">
                </div>
                <div class="form-group">
                    <label for="selectEstado">Estado</label>
                    <select class="form-control" id="selectEstado" name="selectEstado">
                        <option selected>Choose...</option>
                        <option value="1">Activo</option>
                        <option value="0">Inactivo</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary"><i class="fa-solid fa-floppy-disk"></i>Guardar</button>
            </form>
        </div>
        <div class="p-4 col-md-4 d-flex justify-content-center">
            <img style="width: 25vw ; height: 25vw;" src="{{categoria.pfsabcateimage}}" alt="">
        </div>
        <div class="col-md-2"></div>
    </div>
</section>
{% endblock %}